@{
    ViewBag.Title = "Internal";
    Layout = "~/Views/Error/Layout.cshtml";
}

<div class="jumbotron">
    <div class="container">
        <h1>Oops 500!</h1>
        <p>Something went wrong<a class="btn btn-success btn-lg" href="@Url.Action("Index", "Article")">Home</a>
    </div>
</div>
