@{
    List<string> tags = ViewBag.Tags;
    List<Blog.WebUI.Models.ArticleListModel> articleLists = ViewBag.ArticleLists;
    bool canCreateArticle = ViewBag.CanCteateArticle;
}

@if (canCreateArticle)
{
    <div class="panel">
        <a href="@Url.Action("Create", "Article")" class="btn btn-block btn-success">Create Article</a>
    </div>
}

@Html.Partial("Partial/Tags", tags)

@foreach (var a in articleLists)
{
    @Html.Partial("Partial/ArticleList", a)
}
