@model Blog.WebUI.Models.ArticleListModel
<section class="panel panel-default">
    <div class="panel-heading text-center">
        <h3 class="panel-title">@Model.Title</h3>
    </div>
    <div class="panel-body">
        <div class="list-group">
            @foreach (var a in Model.Articles)
            {
                @Html.Partial("Partial/Article", a);
            }
        </div>
    </div>
</section>
