@model Blog.Repository.Models.ArticleModel

<div class="list-group-item">
    <a href="@Url.Action("Read", "Article", new { url = Model.Url })" class="list-group-item-text">
        @Model.Title
    </a>
</div>