@model List<string>

<section class="panel panel-default">
    <div class="panel-heading text-center">
        <h3 class="panel-title">Browse by Tag</h3>
    </div>
    <div class="panel-body">
        @foreach (var t in Model)
        {
            @Html.Partial("Partial/TagLabel", t)
        }        
    </div>
</section>
