@{
    List<string> tags = ViewBag.Tags;
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@section Header{
    <link href="~/bower_components/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/bower_components/textAngular/src/textAngular.css" rel="stylesheet" />
    <link href="~/Content/Styles/Article/styles.css" rel="stylesheet" type="text/css" />
    <script src="~/bower_components/jquery-autosize/jquery.autosize.js" type="text/javascript"></script>
    <script src="~/Scripts/count-group.js" type="text/javascript"></script>
    <script src="~/bower_components/angular/angular.js"></script>
    <script src="~/bower_components/angular-elastic/elastic.js"></script>
    <script src="~/Scripts/mymaxlength.js"></script>
    <script src="~/bower_components/textAngular/dist/textAngular-rangy.min.js"></script>
    <script src="~/bower_components/textAngular/dist/textAngular-sanitize.min.js"></script>
    <script src="~/bower_components/textAngular/dist/textAngular.min.js"></script>
    <script src="~/Scripts/create.js" type="text/javascript"></script>
}

<div class="panel panel-default" ng-app="app">
    <div class="panel-heading text-center">
        <h3 class="panel-title">Create new article</h3>
    </div>
    <div class="panel-body">
        <form method="post" action="@Url.Action("Create", "Article")">
            <fieldset>
                <div ng-controller="textController" ng-init="init('@Url.Action("Exists", "Article")')">
                    <div class="form-group" id="title">
                        <input type="text"
                               class="form-control"
                               placeholder="Title"
                               required="required"
                               name="Title"
                               ng-model="title"
                               mg-change="titleChange()"
                               ng-maxlength="100"
                               my-maxlength="100"
                               ng-model-options="{ debounce: 1000 }" />
                        <label>Remains characters: {{100 - title.length}}</label>
                        <label class="has-error" ng-show="article.Title.$error.pattern">Article title has some invalid characters</label>
                        <label class="has-error" ng-show="exists">Article title has some invalid characters</label>
                    </div>
                    <div class="form-group" id="content">
                        <div text-angular ng-model="content"></div>
                    </div>
                    <input type="text" name="Content" value="{{content}}" hidden />
                </div>
                <div class="form-group" id="tags" ng-controller="tagController" ng-init="init('@string.Join(",", tags)', '@Url.Action("Create", "Tag")')">
                    <input class="result" type="text" name="tags" value="{{result}}" hidden />
                    <div class="add-tag">
                        <label>Add tags:</label>
                        <a href="" ng-repeat='a in available' class="label label-default" ng-click="add($index)" ng-disabled="pending">{{a}}</a>
                        <div class="form-group navbar-form">
                            <div class="input-group">
                                <input ng-model="newTag" class="form-control" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-success" id="create-tag" ng-click="createTag()">Create new tag</button>
                                </span>
                            </div>
                         </div>
                    </div>
                    <div class="remove-tag">
                        <label>Tags:</label>
                        <a href="" ng-repeat='t in tags' class="label label-default" ng-click="remove($index)">{{t}}</a>
                    </div>
                </div>
                <input type="submit" class="btn btn-success" ng-disabled="exists" value="Save" />
            </fieldset>
        </form>
    </div>
</div>
