@{
    Layout = null;
}

<head>
    <title>@ViewBag.Title</title>
    <link href="~/bower_components/bootstrap/dist/css/paper.css" rel="stylesheet" type="text/css" />
    @*<link href="~/bower_components/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet" type="text/css" />*@
    <link href="~/Content/Styles/Auth/styles.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <header>
    <div class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="@Url.Action("Index", "Article")">Blog</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="@Url.Action("Index", "Article")">Home</a></li>
            </ul>
        </div>
    </div>
    </header>
    @RenderBody()
</body>
