@model Blog.Repository.Models.CommentModel

<blockquote>
    <p>@Model.Content
    <small><a href="@Url.Action("Public", "User", new { username = Model.Username })" class="btn-link">@Model.Author</a> @Model.CreateDate.ToString("MMMM dd, yyyy.", System.Globalization.CultureInfo.CreateSpecificCulture("en-US"))</small>
</blockquote>