@model Blog.Repository.Models.CommentModel

@functions
{
    string GetRating(List<Blog.Repository.Models.RateModel> raters)
    {
        int rating = raters.Count(r => r.Like) - raters.Count(r => !r.Like);
        return (rating > 0 ? "+" : "") + rating.ToString();
    }
}

<div class="well well-sm">
    <article>
        @Model.Content
    </article>
    <strong>@Model.Author</strong> <small>@Model.CreateDate.ToString("MMMM dd, yyyy.", System.Globalization.CultureInfo.CreateSpecificCulture("en-US"))</small>
</div>